.header-container {
  background-color: var(--sintese-blue-dark); 
  color: var(--sintese-white);
  padding: 1.5rem;
  text-align: center;
  border-bottom: 5px solid var(--sintese-yellow); 
  box-shadow: 0 4px 10px rgba(0, 71, 186, 0.2);
}

.header-container h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}