.movie-card {
  background-color: var(--sintese-white);
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie-card:hover {
  transform: translateY(-5px);

  box-shadow: 0 10px 20px rgba(45, 156, 219, 0.2); 
  border-color: var(--sintese-blue-light);
}

.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-info {
  padding: 15px;
}

.movie-title {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
  color: var(--sintese-blue-dark); 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-details {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}